@media (max-width: 1080px) {
    .layout__header {
        justify-content: space-between;

        .layout__header-logo {
            margin-right: 0;
            order: 1;
        }

        .layout__header-toolbar {
            display: flex;
            flex-grow: 0;
        }
    }
}