:root {
    --surface-ground: var(--p-surface-100);
    --code-background: var(--p-surface-900);
    --code-text-color: var(--p-surface-200);
    --selection-background: var(--p-surface-200);
    --selection-text-color: var(--p-surface-950);
    --mark-background: var(--p-surface-200);
    --mark-text-color: var(--p-surface-700);
}
